@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto, sans-serif;
}

.titulo {
    font-family: Times New Roman, serif;
}

h1 {
    color: whitesmoke;
    font-size: 2rem;
}

body {
    background-color: #fee9d8;
    margin: 0px;
    margin-left: 10%;
    margin-right: 10%;
}

main {
    display: flex;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
    margin: 8px;
}

header {
    background-color: #ee9c03;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    margin-left: 0.75%;
    margin-right: 0.75%;

}

@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

h4 {
    font-family: Roboto, sans-serif;
}

link {
    font-family: Montserrat;
    font-size: 2pt;
}


#Inicio {
    flex-basis: 100%;
    flex-wrap: wrap;
}


li {
    font-family: Jacquard;
}

#educacion>h2,
#informacion>h2,
#contacto>h2,
#habilidades>h2,
#Proyectos>h2,
#atencionPersonal>h2 {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

#informacion>p,
#educacion>p,
#contacto>p,
#habilidades>p,
#Proyectos>p {
    color: black
}

#informacion span,
#educacion span,
#contacto span,
#habilidades span,
#Proyectos span {
    color: black;
    font-family: Montserrat;
}

.title{
    margin-top: 5px;
    display: block;
    width: 100%;
    text-align: center;
}

.contenedor-educacion {
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 50px;
    justify-content: space-around;
}

.universidad, .colegio{
    width: 30%;
    background-color: white;
    color: black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.contenedor-informacion {
    display: flex;
    flex-wrap: wrap;    
    margin-bottom: 50px;
    justify-content: space-around;
}

.articulo{
    width: 40%;
    background-color: white;
    color: black;
    margin-top: 50px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

#informacion,
#educacion {
    border-radius: 5%;
    flex-basis: 47%;
    background-color: #ffa869;
    margin: 20px 1px 1px;
    margin-top: 0.8rem;
    border: 0pt;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.articulo:hover, .universidad:hover, .colegio:hover{
    box-shadow: 0 4px 10px rgb(17,29,48);
    color: white;
    background-color: #ffa869;
    transition: .5s;
}

#informacion .articulo:hover span, #educacion .universidad:hover span, #educacion .colegio:hover span{
    color: white;
    font-size: 20px;
    transition: .5s;

}

#informacion .articulo:hover p, #educacion .universidad:hover p, #educacion .colegio:hover p{
    color: black;
    transition: .5s;

}

#habilidades,
#contacto,
#atencionPersonal {
    border-radius: 5%;
    flex-basis: 24%;
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#informacion .titulo,#educacion .titulo ,#Proyectos .titulo ,#habilidades .titulo,#contacto .titulo, #atencionPersonal .titulo {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
}




#atencionPersonal div , #atencionPersonal iframe{
    display: flex;
    padding: 1rem 1rem;
}



#Proyectos {
    border-radius: 5%;
    flex-basis: 100%;
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

#Proyectos .imagenes img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1%;
    border-radius: 10px;
}

footer {
    flex-basis: 100%;
}



table {
    border-color: black;
    border-collapse: collapse;
    margin-top: 2px;
    font-style: italic;
    text-align: center;
    text-size-adjust: 10px;
}

button {
    color: #ffa869;
}

.lista {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
}

.lista {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los íconos con el texto */
}

.list-icon {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: auto;
    /* Mantiene la proporción del ícono */
    margin-right: 8px;
    margin-left: 8px;
    /* Espacio entre el ícono y el texto */
}

#Proyectos>li {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
    font-family: Jacquard;
    color: black;
}

.chince {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: auto;
    /* Mantiene la proporción del ícono */
    margin-right: 8px;
    margin-left: 8px;
}

#habilidades li {
    list-style-type: none;
    /* Elimina los puntos predeterminados */

}

.flecha {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: auto;
    /* Mantiene la proporción del ícono */
    margin-right: 8px;
    margin-left: 8px;
}

form {
    font-family: Jacquard;
    display: grid;
}

#contacto>li {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
    color: black;
}

#Proyectos .imagenes img:hover {
    cursor: pointer;
}
