* {
    font-family: Arial, sans-serif;
}

.titulo {
    font-family: Times New Roman, serif;
}


@import url('https://fonts.googleapis.com/css2?family=Danfo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



link {
    font-family: Montserrat;
    font-size: 2pt;
}

#informacion {
    background-color: white;

}


li {
    font-family: Jacquard;
}

#educacion>h2,
#informacion>h2,
#contacto>h2,
#habilidades>h2,
#Proyectos>h2 {
    color: black;
}


#informacion>p,
#educacion>p,
#contacto>p,
#habilidades>p,
#Proyectos>p {
    color: #313030;
}

#informacion span,
#educacion span,
#contacto span,
#habilidades span,
#Proyectos  span {
    color: black;
    font-family: Montserrat; 
}

#educacion {
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#contacto {
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt dashed;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#habilidades {
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt dashed;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer {
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt dashed;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#informacion {
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt dashed;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#Proyectos {
    background-color: #ffa869;
    margin: 20px 5px 1px;
    margin-top: 0.8rem;
    border: 0pt dashed;
    padding: 2% 1.2%;
    box-shadow:
        rgba(0, 0, 0, 0.25) 0px 40px 35px,
        rgba(0, 0, 0, 0.12) 0px -12px 20px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

table {
    border-color: black;
    width: 30%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 10px;
    font-style: italic;
    text-align: center;
}

button {
    color: #ffa869;
}

.lista {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
}

.lista {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los íconos con el texto */
}

.list-icon {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: auto;
    /* Mantiene la proporción del ícono */
    margin-right: 8px;
    margin-left: 8px;
    /* Espacio entre el ícono y el texto */
}

#Proyectos>li {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
    font-family: Jacquard;
    color: #313030;
}

.chince {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: auto;
    /* Mantiene la proporción del ícono */
    margin-right: 8px;
    margin-left: 8px;
}

#habilidades>li {
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
}

.flecha {
    width: 16px;
    /* Ajusta el tamaño del ícono */
    height: auto;
    /* Mantiene la proporción del ícono */
    margin-right: 8px;
    margin-left: 8px;
}

form {
    display: flex;
    justify-content: left;
    font-family: Jacquard;
    
}

#contacto >li{
    list-style-type: none;
    /* Elimina los puntos predeterminados */
    padding: 0;
    margin: 0;
    color: #313030;
}

#contacto > .subtitulo{
    font-family: Roboto;
}

